.algorithm {
  box-sizing: border-box;
  width: 100%;
  height: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #79fa0f;

  background: linear-gradient(180deg, #79fa0f, var(--green));
}

.algorithm > span {
  color: white;
  width: 600;
  font-size: 20px;
  text-shadow: 1px 1px 1.5px black;

  padding: 15px 0px;
}

.algorithm-img {
  width: 200px;
  height: 250px;

  position: relative;
}

.algorithm-img > div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;

  z-index: 1;
}

.algorithm-number {
  position: absolute;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  padding: 3px 7px;
  border-radius: 10px;
  bottom: 05px;
  right: 10px;
}

.algorithm-img > div > img {
  width: 100%;
  height: 100%;

  z-index: 1;

  border-radius: 15px;
}
.algorithm-img > div {
  animation: imgDrag 28s ease-in-out infinite;
}

.algorithm-img > div:nth-child(2) {
  animation-delay: 4s;
}
.algorithm-img > div:nth-child(3) {
  animation-delay: 8s;
}
.algorithm-img > div:nth-child(4) {
  animation-delay: 12s;
}
.algorithm-img > div:nth-child(5) {
  animation-delay: 16s;
}
.algorithm-img > div:nth-child(6) {
  animation-delay: 20s;
}
.algorithm-img > div:nth-child(7) {
  animation-delay: 24s;
}

@keyframes imgDrag {
  0% {
    z-index: 0;
    opacity: 0;
    transform: translateX(-150px) scale(0.8);
  }
  3.5% {
    z-index: 1;
    opacity: 0.8;
    transform: translateX(-150px) scale(0.8);
  }
  14.3% {
    z-index: 2;
    opacity: 0.8;
    transform: translateX(-150px) scale(0.8);
  }
  17.8% {
    z-index: 3;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  28.6% {
    z-index: 3;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  32.1% {
    z-index: 2;
    opacity: 0.8;
    transform: translateX(150px) scale(0.8);
  }
  42.9% {
    z-index: 2;
    opacity: 0.8;
    transform: translateX(150px) scale(0.8);
  }
  46.4% {
    z-index: 1;
    opacity: 0;
    transform: translateX(150px) scale(0.8);
  }
  47% {
    z-index: 0;
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    z-index: 1;
    opacity: 0;
    transform: translateX(0);
  }
}
