.more-screen {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
}

.user-name > h1 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.user-name > a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.cookie-Manage {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
}

.cookie-Manage > div:first-child {
  color: black;
  font-size: 20px;
}

.cookie-Manage > div:first-child > span:last-child {
  color: var(--green);
  margin-left: 5px;
}

.cookie-Manage > div:last-child {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.more-icons {
  width: 100%;

  padding: 0 25px;
  box-sizing: border-box;
  margin-top: 35px;

  color: black;
  font-size: 35px;
}

.icons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 50px;
}

.icons-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 55px;
  height: 55px;
  padding: 7px;

  border-radius: 33%;
}

.icons-column > span {
  margin-top: 10px;
  font-size: 13px;
}

.icons-column a {
  position: relative;
}
.icons-column i > span {
  position: absolute;
  top: 15px;
  left: 24px;

  font-size: 10px;
}

.icons-row:nth-child(1) .icons-column:nth-child(1) {
  color: var(--green);
}
.icons-row:nth-child(1) .icons-column:nth-child(2) {
  color: rgb(255, 166, 0);
}
.icons-row:nth-child(1) .icons-column:nth-child(3) {
  color: skyblue;
}
.icons-row:nth-child(1) .icons-column:nth-child(4) {
  color: yellowgreen;
}
.icons-row:nth-child(2) .icons-column:nth-child(1) {
  color: plum;
}
.icons-row:nth-child(2) .icons-column:nth-child(2) {
  color: orangered;
}
.icons-row:nth-child(2) .icons-column:nth-child(3) {
  color: gray;
}

.icons-column:hover {
  animation: hover-scaleUp 0.2s linear forwards;
}
.icons-row:nth-child(1) .icons-column:nth-child(1):hover {
  background-color: var(--green);
  color: white;
}
.icons-row:nth-child(1) .icons-column:nth-child(2):hover {
  background-color: rgb(255, 166, 0);
  color: white;
}
.icons-row:nth-child(1) .icons-column:nth-child(3):hover {
  background-color: skyblue;
  color: white;
}
.icons-row:nth-child(1) .icons-column:nth-child(4):hover {
  background-color: yellowgreen;
  color: white;
}
.icons-row:nth-child(2) .icons-column:nth-child(1):hover {
  background-color: plum;
  color: white;
}
.icons-row:nth-child(2) .icons-column:nth-child(2):hover {
  background-color: orangered;
  color: white;
}
.icons-row:nth-child(2) .icons-column:nth-child(3):hover {
  background-color: gray;
  color: white;
}
