.search-main {
  margin-top: 76px;
}

.search-delete {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.search-delete a {
  color: blue;
  opacity: 0.4;
  font-size: 16px;
  font-weight: 900;
}

.search-delete a:hover {
  color: red;
  opacity: 0.8;
}

.search-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.search-data:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-data > div:nth-child(2) {
  color: rgba(0, 0, 0, 0.3);
}

.search-data > div:nth-child(2):hover {
  cursor: pointer;
}
