.nav {
  z-index: 5;

  position: fixed;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 15px 35px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(122, 122, 122, 0.3);
}
.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #2e363e;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link > i {
  margin-bottom: 5px;
}

.nav-link > span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

@keyframes notification {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav-notification {
  position: absolute;
  left: 20px;
  bottom: 15px;

  animation: notification 2s ease-in-out infinite;
}

.nav-dot {
  position: absolute;
  bottom: 28px;
  right: -5px;
}

@keyframes appearBtn {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nv-btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtn 0.2s ease-in-out forwards;
}

.nv-btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nv-btn:nth-child(3) {
  animation-delay: 0.4s;
}

.nv-btn:nth-child(4) {
  animation-delay: 0.6s;
}

.select-btn i {
  color: var(--green);
}
